@import "fonts.styl"
@import "settings.styl"


.fomt__title
	font mainTitleFont
	color mainColor
	margin-left 15px
	margin-bottom .5em
.form-horizontal
	text-align center
.form__textarea
	margin-top 2em
	
.form__input
	height 75px
	font mediumTitleFont
.form__button
	btn(mainColor, textDarkColor, #fff, #fff)
	margin-top 2em
	margin-bottom 2em