 /*font - ARSENAL*/
@font-face
  font-family Arsenal
  font-style normal
  src url(fonts/arsenal/Arsenal-Regular.otf)
@font-face
  font-family Arsenal_Bold
  font-style bold
  src url(fonts/arsenal/Arsenal-Bold.otf)
   
 /*font - Ubuntu*/
@font-face
  font-family Ubuntu
  font-style normal
  src url(fonts/ubuntu-mono/UbuntuMono-R.ttf)
@font-face
  font-family Ubuntu_Bold
  font-style bold
  src url(fonts/ubuntu-mono/UbuntuMono-B.ttf)
   
 /*font - Cuprum*/
@font-face
 	font-family Cuprum
 	font-style normal
 	src url(fonts/cuprum/Cuprum-Regular.ttf)
@font-face
	font-family Cuprum_Bold
	font-style bold
	src url(fonts/cuprum/Cuprum-Bold.ttf)
   
 /*font - Forum_regular*/
@font-face
 	font-family Forum
	font-style normal
	src url(fonts/forum/Forum-Regular.otf)