
.menu__link_furniture
	font contentFont
	border-radius 0 !important
	&:hover
		background mainColor !important
		
/*item*/
.item__model
	font mediumTitleFont
	font-weight bold
	margin-bottom .2em
	color mainColor
.item__description,
.item__materials
	font contentFont	
	font-style italic
	color textDarkColor
.item__materials
	margin-top .2em
	
/*  modal*/
.modal-dialog {width:600px;}
.modal-body
	display block
.thumbnail {margin-bottom:6px;}