 @font-face
   font-family Arsenal
   font-style normal
   src url(fonts/arsenal/Arsenal-Regular.otf)
 @font-face
   font-family Arsenal_Bold
   font-style bold
   src url(fonts/arsenal/Arsenal-Bold.otf)
  
  p
  	font-family Arsenal_Bold
  	
	