
mainTitleFont = 2em Arsenal, sans-serif
mediumTitleFont = 1.5em Arsenal, sans-serif
contentFont = normal 1em Ubuntu, Arsenal,sans-serif
font = 40px
mainColor = #38B2B8
opacityDarkColor = rgba(0,0,0,.7)
opacityMainColor = rgba(56, 178, 184, .9)
opacityWhiteColor = rgba(255,255,255,.9)
textDarkColor = #2D3134
textMainColor = #38B2B8

btn(bgColor,hoverBgColor, color, hoverColor)
	padding .5em 1.5em
	background bgColor
	color color
	display inline-block
	margin auto
	cursor pointer
	font mediumTitleFont
	border none
	transition all .5s
	&:hover
		background hoverBgColor
		color hoverColor
		box-shadow 5px 5px 10px rgba(0,0,0,.5)
	
	
	
		
